- @poll.results.each do |result|
  %div
    = "#{result[:name]}: #{pluralize(result[:votes], 'vote')}"
    .progress
      .progress-bar{'role' => 'progressbar', style: "width: #{result[:percentage]}%;"}
        = "#{result[:percentage]}%"
%h3
  = "Total: #{pluralize(@poll.votes.count, 'vote')}"
