= form_for @poll do |f|
  - @poll.options.each do |option|
    .form-group
      .checkbox
        %label{for: "option#{option.id}"}
          = option.name
          = check_box_tag 'options[]', option.id, false, id: "option#{option.id}", multiple: @multiple
  = f.submit 'Vote', class: 'btn btn-default'
