- if @poll.errors.any?
  %div.error_explanation
    %h4
      = pluralize(@poll.errors.count, "error")
      prohibited this poll from being saved:
    %ul
      - @poll.errors.full_messages.each do |msg|
        %li= msg
= nested_form_for @poll do |f|
  %div
    = f.label :name
    = f.text_field :name
  %div
    = f.label 'Allow multiple poll choices?'
    = f.check_box :multiple_options
  %div
    = f.fields_for :options do |options_form|
      = options_form.text_field :name
      = options_form.link_to_remove 'Remove'
    = f.link_to_add 'Add an option', :options
  = f.submit
